<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista falowników</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.3/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <td>Cena modułów [zł]</td>
            <td>Cena falownika [zł]</td>
            <td>Cena konstrukcji [zł]</td>
            <td>Cena instalacji netto [zł]</td>
            <td>Wartość podatku VAT [zł]</td>
            <td>Cena instalacji brutto przed rabatem [zł]</td>
            <td>Rabat [%]</td>
            <td>Cena instalacji brutto po rabacie [zł]</td>
            <td>Usuń</td>
            <td>Dodaj zniżkę</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="price: ${prices}">
            <td th:text="${price.moduleprice}"></td>
            <td th:text="${price.inverterprice}"></td>
            <td th:text="${price.constructionprice}"></td>
            <td th:text="${price.instalationpricenet}"></td>
            <td th:text="${price.taxvalue}"></td>
            <td th:text="${price.instalationpricegross}"></td>
            <td th:text="${price.discount}"></td>
            <td th:text="${price.instalationpricegross}"></td>
            <td><a th:href="${'/price/delete/'+{price.id}}">Usuń</a></td>
            <td><a th:href="${'/price/setdiscount/'+{price.id}}">Rabat</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>