<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Lista instalacji PV</title>
    <link rel="stylesheet" type="text/css" th:href="@{/tablestyle.css}"/>
    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <meta name="description" content="PV_APP"/>
    <meta name="keywords" content="Photovlatic, Fotowoltaika, OZE, PV , Instalacja elektryczna"/>
    <meta name="author" content="Tomasz Sułkowski"/>

</head>
<body>
<div id="tablecontainer">
    <nav id="nav">
        <a href="/instalation/list" class="btn-2" role="button">Instalacje</a>
        <a href="/modules/modulelist" class="btn-2" role="button">Moduły</a>
        <a href="/inverter/list" class="btn-2" role="button">Falowniki</a>
        <a href="/construction/list" class="btn-2" role="button">Konstrukcje</a>
        <a href="/questionform/list" class="btn-2" role="button">Formularze</a>
    </nav>
    <div class="tablediv">
    <table id="table">
        <thead>
        <tr>
            <td >Moduł PV</td>
            <td >Liczba modułów PV w instalacji</td>
            <td >Moc instalacji [Wp]</td>
            <td >Falownik</td>
            <td >Liczba falowników</td>
            <td >Typ konstrukcji</td>
            <td >Cena instalacji netto [zł]</td>
            <td >Cena instalacji brutto po rabacie [zł]</td>
            <td style="max-width:70px;">Edycja</td>
            <td style="max-width:70px;">Usuń</td>
            <td style="max-width:70px;">Ankieta</td>
            <td style="max-width:70px;">Rabat</td>
            <td style="max-width:70px;">Raport</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="instalation: ${instalations}">
            <td th:text="|${instalation.pvModule.manufacturer} ${instalation.pvModule.model} ${instalation.pvModule.type} ${instalation.pvModule.power}|"></td>
            <td th:text="${instalation.numberofpvmodule}"></td>
            <td th:text="${instalation.power}"></td>
            <td th:text="|${instalation.inverter.manufacturer} ${instalation.inverter.model} ${instalation.inverter.type} ${instalation.inverter.acpower} ${instalation.inverter.dcpower}|">
            <td th:text="${instalation.numberofinverters}"></td>
            <td th:text="|${instalation.construction.rooftype} ${instalation.construction.roofmaterial}|"></td>
            <td th:text="${instalation.price.instalationpricenet}"></td>
            <td th:text="${instalation.price.discountedinstalationpricegross}"></td>
            <td><a th:href="${'/instalation/edit/'+{instalation.id}}"><i class="fa fa-pencil"></i></a></td>
            <td><a th:href="${'/instalation/delete/'+{instalation.id}}"><i class="fa fa-trash"></i></a></td>
            <td><a th:href="${'/questionform/view/'+{instalation.questionForm.id}}"><i
                    class="fa fa-question-circle"></i></a></td>
            <td><a th:href="${'/price/setdiscount/'+{instalation.price.id}}"><i class="fa fa-percent"></i></a></td>
            <td><a th:href="${'/instalation/report/'+{instalation.id}}"><i class="fa fa-bar-chart"></i></a></td>
        </tr>
        </tbody>
    </table>
    </div>
    <div id="buttons">
        <a class="btn-1" role="button" href="/instalation/design">Dodaj nową instalację</a>
        <a class="btn-1" role="button" href="/instalation/export">Pobierz listę instalacji</a>
    </div>
    <footer id="footer">
        <p>Autor: Tomasz Sułkowski</p>
        <p>Tel: +48790784812</p>
        <p>Email: Tomasz.sulkowski@onet.pl</p>
        <p>Github: TomaszSulkowski94</p>
        <p>PV_APP</p>
    </footer>
</div>

</body>
</html>