<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista instalacji PV</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.3/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <td>Producent modułu PV</td>
            <td>Model modułu PV</td>
            <td>Moc modułu PV [Wp]</td>
            <td>Liczba modułów PV w instalacji</td>
            <td>Moc instalacji [Wp]</td>
            <td>Producent falownika</td>
            <td>Model falownika</td>
            <td>Liczba falowników</td>
            <td>Producent konstrukcji</td>
            <td>Typ dachu</td>
            <td>Materiał poszycia dachu</td>
            <td>Cena instalacji netto [zł]</td>
            <td>Cena instalacji brutto [zł]</td>
            <td>Kąt skierowania instalacji</td>
            <td>Kąt nachylenia instalacji</td>
            <td>Edytuj</td>
            <td>Usuń</td>
            <td>Ankieta</td>
            <td>Podgląd pod raport</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="instalation: ${instalations}">
            <td th:text="${instalation.pvModule.manufacturer}"></td>
            <td th:text="${instalation.pvModule.model}"></td>
            <td th:text="${instalation.pvModule.power}"></td>
            <td th:text="${instalation.numberofpvmodule}"></td>
            <td th:text="${instalation.power}"></td>
            <td th:text="${instalation.inverter.manufacturer}"></td>
            <td th:text="|${instalation.inverter.model} ${instalation.inverter.type} ${instalation.inverter.acpower}|">
            <td th:text="${instalation.numberofinverters}"></td>
            <td th:text="${instalation.construction.manufacturer}"></td>
            <td th:text="${instalation.construction.rooftype}"></td>
            <td th:text="${instalation.construction.roofmaterial}"></td>
            <td th:text="${instalation.price.instalationpricenet}"></td>
            <td th:text="${instalation.price.instalationpricegross}"></td>
            <td th:text="${instalation.roofposition}"></td>
            <td th:text="${instalation.instalationangle}"></td>
            <td><a th:href="${'/instalation/edit/'+{instalation.id}}">Edytuj</a></td>
            <td><a th:href="${'/instalation/delete/'+{instalation.id}}">Usuń</a></td>
            <td><a th:href="${'/questionform/view/'+{instalation.questionForm.id}}">Ankieta</a></td>
            <td>Raport</td>

        </tr>
        </tbody>
    </table>
    <div class="row">
        <td><a href="/instalation/design" class="btn btn-default" role="button">Stwórz nową instalację PV</a></td>
        <td><a href="/modules/createModule" class="btn btn-default" role="button">Dodaj moduł do bazy danych</a></td>
        <td><a href="/inverter/create" class="btn btn-default" role="button">Dodaj falownik do bazy danych</a></td>
        <td><a href="/construction/createConstruction" class="btn btn-default" role="button">Dodaj konstrukcję do bazy
            danych</a></td>
        <td><a href="/questionform/list" class="btn btn-default" role="button">Powrót do listy ankiet</a></td>
    </div>
</div>
</body>
</html>