html, body, div
{
    height: 100%;
    width: 100%;
    margin:0;
    color: #D35400;
    font-size:14px;
    background-color: #1A1A1D;
    font-family: sans-serif;
}

#tablecontainer{
    height: 100%;
    width:98%;
    display: grid;
    grid-template-rows: 6% 78% 10% 6%;
    text-align: center;
    font-family: sans-serif;
}
.tablediv{
  overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tablediv::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.tablediv {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



#table {
  font-family: sans-serif;
  border-collapse: collapse;
  width: 95%;
  height: 98%;
  margin: 0% 2.5% 0% 2.5%;

  }

#table th {
   text-align: center;
     max-height:40px;
     background-color: #1A1A1D;
     color: #D35400;

}

#table td
{
  text-align: center;
  max-height:40px;
  width:30px;
  max-width:60px;
}

#table tr
{
   height:30px;
   max-height:40px;
   width:30px;
   max-width:60px;
   border-bottom: 1pt solid #D35400;
   background-color: #1A1A1D;
}

#table tr:nth-child(even){
    background-color: #red;
    max-height:40px;
    }

#table tr:hover {background-color: #D35400;
color:aliceblue;}



#nav{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    color: #D35400;
    min-height:40px;
    height:40px;
    max-height:80px;
    font-family: sans-serif;
}

#buttons{
    margin-top: 30px;
    text-align: center;
    overflow:visible;
    max-height:40px;
    font-family: sans-serif;
}

#footer
{
    color: #D35400;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    font-size: 12px;
    background-color: #1A1A1D;
    text-align: center;
    height:20px;
    max-height:40px;
    overflow:visible;
}

#footer > p:hover
{
    transform: scale(1.5);
    transition: transform .2s;
    font-weight: 700;
}

/* Normal button*/
.btn-1 {
    padding: 10px 24px;
    border: solid #D35400;
    color: #D35400;
    border-radius: 12px;
    background-color: #1A1A1D;
    box-shadow: inset 0 0 0 0 #1A1A1D;
    transition: ease-out 0.5s;
    outline:inherit;
    text-align: center;
    text-decoration: none;
}

.btn-1:hover{
    box-shadow: inset 150px 0 0 0 #D35400;
    color: aliceblue;
    text-align: center;
    text-decoration: none;
}


/* header section*/
.btn-2 {
    padding: 10px 24px;
    border: solid #1A1A1D;
    color: #D35400;
    background-color: #1A1A1D;
    box-shadow: inset 0 0 0 0 #1A1A1D;
    transition: ease-out 0.5s;
    outline:inherit;
    text-decoration:none;
    font-family: sans-serif;
}

.btn-2:hover{
    box-shadow: inset 300px 0 0 0 #D35400;
    color:aliceblue;
    text-decoration:none;
    font-family: sans-serif;
}


.fa-pencil
{
color:#FFFFFF;
}

.fa-pencil:hover
{
color:white;
}

.fa-trash
{
color:#FFFFFF;
}

.fa-trash:hover
{
color:white;
}

.fa-bar-chart,.fa-bar-chart:hover
{
color:white;
}


.fa-percent,.fa-percent:hover
{
color:white;
}

.fa-question-circle,.fa-question-circle:hover
{
color:white;
}