<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie invertera</title>
    <link rel="stylesheet" type="text/css" th:href="@{/invstyle.css}"/>
    <meta name="description" content="PV_APP"/>
    <meta name="keywords" content="Photovlatic, Fotowoltaika, OZE, PV , Instalacja elektryczna"/>
    <meta name="author" content="Tomasz Sułkowski"/>
</head>
<body>
<div id="container">
    <nav id="nav">
        <a href="/instalation/list" class="btn-2" role="button">Instalacje</a>
        <a href="/modules/modulelist" class="btn-2" role="button">Moduły</a>
        <a href="/inverter/list" class="btn-2" role="button">Falowniki</a>
        <a href="/construction/list" class="btn-2" role="button">Konstrukcje</a>
        <a href="/questionform/list" class="btn-2" role="button">Formularze</a>
    </nav>
    <div id="formcontainer">
        <form id="form" th:object="${inverter}" th:action="@{/inverter/save}" th:method="POST" class="form-horizontal">    <div id="values">
            <p>Producent:</p>  <input type="text" th:field="*{manufacturer}" th:minlength="3" th:maxlength="20" placeholder="np.: Producent XYZ"/>
            <p>Model:</p><input type="text" placeholder="np.: Model ABC" th:field="*{model}" th:minlength=3  th:maxlength=20/>
            <p>Typ falownika:</p>
            <select th:field="*{type}">
                <option th:each="tye : ${T(com.pvapp.PVApp.Entities.Inverter$InverterType).values()}"
                        th:value="${type}"
                        th:text="${type}">
                </option>
            </select>
            <p>Moc DC [W] </p><input type="number" placeholder="np.: 300" th:field="*{dcpower}" min=100 max=1000000 step="1"/>
            <p>Moc AC [W] </p><input type="number" placeholder="np.: 3.14" th:field="*{acpower}"  min=100 max=1000000 step="1"/>
            <p>Liczba MPPT [-]</p><input type="number" placeholder="np.: 3" th:field="*{mppt}" min=1 max=10 step="1"/>
            <p>Maksymalny prąd zwarcia [A]</p><input type="number" placeholder="np.: 30.12" th:field="*{maxcurrentzwarcia}" min=0.01 max=100.00 step="0.01"/>
            <p>Maksymalny prąd roboczy [A]</p><input type="number" placeholder="np.: 70.12" th:field="*{maxcurrentrob}" min=0.01 max=100.00 step="0.01"/>
            <p>Dolny zakres napięcia [V]</p><input type="number" placeholder="np.: 750" th:field="*{dolnyzakresnapiecia}" min=1 max=1000 step="1"/>
            <p>Górny zakres napięcia [V]</p><input type="number" placeholder="np.: 1000" th:field="*{gornyzakresnapiecia}" min=100 max=100000 step="1"/>
            <p>Maksymalne napięcie pracy [V]</p><input type="number" placeholder="np.: 1200" th:field="*{maksymalnenapiecie}" min=100 max=100000 step="1" />
            <p>Cena [zł]</p><input type="number" placeholder="np.: 3000" th:field="*{price}" min=0.01 max=999999.00 step="0.01"/></div>
            <div id="buttons">
                <button type="submit" class="btn-3">Dodaj</button>
                <button class="btn-4" type="reset">Resetuj zmiany</button>
                <a href="/inverter/list" class="btn-5" role="button">Powrót</a>
            </div>
        </form>
        <div id="photocontainer"><img id="photo" th:src="@{/inverter.jpg}"></div>
    </div>

    <footer id="footer">
        <p>Autor: Tomasz Sułkowski</p>
        <p>Tel: +48790784812</p>
        <p>Email: Tomasz.sulkowski@onet.pl</p>
        <p>Github: TomaszSulkowski94</p>
        <p>PV_APP</p>
    </footer>
</div>
</body>
</html>