<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista falowników</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.3/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <td><a href="/inverter/export" class="btn btn-default" role="button">Pobierz listę falowników</a></td>
        <td><a href="/inverter/upload" class="btn btn-default" role="button">Zaimportuj listę falowników</a></td>
        <td><a href="/inverter/export/excel" class="btn btn-default" role="button">Pobierz wzór importu</a></td>
    </div>
    <br>
    <table class="table table-hover" style="text-align: center">
    <thead>
        <tr>
            <td>Producent</td>
            <td>Model</td>
            <td>Typ falownika</td>
            <td>Moc DC [W]</td>
            <td>Moc AC [W]</td>
            <td>Ilość MPPT [-]</td>
            <td>Maksymalny prąd zwarcia [A]</td>
            <td>Maksymalny prąd roboczy [A]</td>
            <td>Dolny zakres napięcia pracy [V]</td>
            <td>Górny zakres napiecia pracy [V]</td>
            <td>Maksymalne napięcie pracy [V]</td>
            <td>Cena [zł]</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="inverter: ${inverters}">
            <td th:text="${inverter.manufacturer}"></td>
            <td th:text="${inverter.model}"></td>
            <td th:text="${inverter.type}"></td>
            <td th:text="${inverter.dcpower}"></td>
            <td th:text="${inverter.acpower}"></td>
            <td th:text="${inverter.mppt}"></td>
            <td th:text="${inverter.maxcurrentzwarcia}"></td>
            <td th:text="${inverter.maxcurrentrob}"></td>
            <td th:text="${inverter.dolnyzakresnapiecia}"></td>
            <td th:text="${inverter.gornyzakresnapiecia}"></td>
            <td th:text="${inverter.maksymalnenapiecie}"></td>
            <td th:text="${inverter.price}"></td>
            <td><a th:href="${'/inverter/edit/'+{inverter.id}}"><i class="fa fa-pencil"></i></a></td>
            <td><a th:href="${'/inverter/delete/'+{inverter.id}}"><i class="fa fa-trash"></i></a></td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <td><a href="/inverter/create" class="btn btn-default" role="button">Dodaj falownik</a></td>
        <td><a href="/instalation/list" class="btn btn-default" role="button">Przejdź do listy instalacji</a></td>
    </div>
</div>
</body>
</html>