<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista ankiet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.3/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <td>Wysokość rachunku</td>
            <td>Typ dachu</td>
            <td>Materiał wykonania dachu</td>
            <td>Nachylenie dachu</td>
            <td>Pozycja dachu</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="questionform: ${questionforms}">
            <td th:text="${questionform.bill}">
            <td th:text="${questionform.rooftype}">
            <td th:text="${questionform.roofmaterial}">
            <td th:text="${questionform.roofslope}">
            <td th:text="${questionform.roofposition}">
            <td><a th:href="${'/questionform/edit/'+{questionform.id}}"><i class="fa fa-pencil"></i></a></td>
            <td><a th:href="${'/questionform/delete/'+{questionform.id}}"><i class="fa fa-trash"></i></a></td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <td><a href="/questionform/create" class="btn btn-default" role="button">Utwórz nowy formularz</a></td>
        <td><a href="/instalation/list" class="btn btn-default" role="button">Przejdź do listy instalacji</a></td>
    </div>
</div>
</body>
</html>