<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja ankiety</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.3/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <form th:object="${questionform}" th:method="POST" th:action="@{/questionform/update}" class="form-horizontal">
        <div hidden class="form-group">
            <label class="control-label">Id</label>
            <input type="text" th:field="*{id}" class="form-control" readonly="readonly"/>
        </div>
        <div class="form-group">
            <label class="control-label">Wysokość miesięcznego rachunku</label>
            <input type="number" class="form-control" th:field="*{bill}" min="50" max="2000"/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('bill')}" th:errors="*{bill}"></div>

        </div>
        <div class="form group">
            <label class="control-label">Typ dachu</label>
            <select th:field="*{rooftype}">
                <option th:value="DACH_PLASKI" th:text="'DACH PŁASKI'"></option>
                <option th:value="DACH_SKOSNY" th:text="'DACH SKOŚNY'"></option>
                <option th:value="GRUNT" th:text="GRUNT"></option>
            </select>
        </div>
        <br>
        <div class="form group">
            <label class="control-label">Materiał wykonania dachu</label>
            <select th:field="*{roofmaterial}">
                <option th:value="PAPA" th:text="PAPA"></option>
                <option th:value="BLACHODACHOWKA" th:text="BLACHODACHÓWKA"></option>
                <option th:value="BLACHOTRAPEZ" th:text="BLACHOTRAPEZ"></option>
                <option th:value="PLYTA_WARSTWOWA" th:text="'PŁYTA WARTSTWOWA'"></option>
                <option th:value="GONT" th:text="GONT"></option>
                <option th:value="GRUNT" th:text="GRUNT"></option>
                <option th:value="DACHÓWKA_CERAMICZNA" th:text="'DACHÓWKA CERAMICZNA'"></option>
                <option th:value="DACHÓWKA_KARPIÓWKA" th:text="'DACHÓWKA KARPIÓWKA'"></option>
            </select>
        </div>
        <br>
        <div class="form group">
            <label class="control-label">Nachylenie dachu</label>
            <select th:field="*{roofslope}">
                <option th:value="0" th:text="'BRAK'"></option>
                <option th:value="10" th:text="'LEKKO NACHYLONY'"></option>
                <option th:value="30" th:text="'SREDNIO NACHYLOWNY'"></option>
                <option th:value="50" th:text="'MOCNO NACHYLONY'"></option>
            </select>
        </div>
        <br>
        <div class="form group">
            <label class="control-label">Pozycja dachu</label>
            <select th:field="*{roofposition}">
                <option th:value="0" th:text="POŁUDNIE"></option>
                <option th:value="10" th:text="'POŁUDNIOWY WSCHÓD 10'"></option>
                <option th:value="20" th:text="'POŁUDNIOWY WSCHÓD 20'"></option>
                <option th:value="30" th:text="'POŁUDNIOWY WSCHÓD 30'"></option>
                <option th:value="40" th:text="'POŁUDNIOWY WSCHÓD 40'"></option>
                <option th:value="50" th:text="'POŁUDNIOWY WSCHÓD 50'"></option>
                <option th:value="60" th:text="'POŁUDNIOWY WSCHÓD 60'"></option>
                <option th:value="70" th:text="'POŁUDNIOWY WSCHÓD 70'"></option>
                <option th:value="80" th:text="'POŁUDNIOWY WSCHÓD 80'"></option>
                <option th:value="90" th:text="'WSCHÓD-ZACHÓD'"></option>
                <option th:value="10" th:text="'POŁUDNIOWY ZACHÓD 10'"></option>
                <option th:value="20" th:text="'POŁUDNIOWY ZACHÓD 20'"></option>
                <option th:value="30" th:text="'POŁUDNIOWY ZACHÓD 30'"></option>
                <option th:value="40" th:text="'POŁUDNIOWY ZACHÓD 40'"></option>
                <option th:value="50" th:text="'POŁUDNIOWY ZACHÓD 50'"></option>
                <option th:value="60" th:text="'POŁUDNIOWY ZACHÓD 60'"></option>
                <option th:value="70" th:text="'POŁUDNIOWY ZACHÓD 70'"></option>
                <option th:value="80" th:text="'POŁUDNIOWY ZACHÓD 80'"></option>
            </select>
        </div>
        <br>
        <div class="row">
            <button type="submit" class="btn btn-default">Zaktualizuj formularz</button>
            <button type="reset" class="btn btn-default">Wyczyść zmiany</button>
            <a href="/questionform/list" class="btn btn-danger" role="button">Powrót</a>
        </div>
    </form>
</div>
</body>
</html>