<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista konstrukcji</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.3/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">
    <form th:object="${construction}" th:action="@{/construction/saveConstruction}" th:method="POST"
          class="form-horizontal">
        <div class="form-group">
            <label class="control-label">Producent</label>
            <input type="text" class="form-control" th:field="*{manufacturer}"/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('manufacturer')}"
                 th:errors="*{manufacturer}"></div>
        </div>
        <div class="form-group">
            <label class="control-label">Model</label>
            <input type="text" class="form-control" th:field="*{model}"/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('model')}"
                 th:errors="*{model}"></div>
        </div>
        <div class="form-group">
            <label class="control-label">Typ dachu</label>
            <select th:field="*{rooftype}">
                <option th:each="rooftype : ${T(com.pvapp.PVApp.Entities.Construction$roofType).values()}"
                        th:value="${rooftype}"
                        th:text="${rooftype}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Materiał wykoniania dachu</label>
            <select th:field="*{roofmaterial}">
                <option th:each="roofmaterial : ${T(com.pvapp.PVApp.Entities.Construction$roofMaterial).values()}"
                        th:value="${roofmaterial}"
                        th:text="${roofmaterial}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Cena</label>
            <input type="number" class="form-control" th:field="*{price}"/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('price')}"
                 th:errors="*{price}"></div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-default">Dodaj konstrukcje</button>
            <button type="reset" class="btn btn-default">Reset</button>
            <a href="/construction/list" class="btn btn-danger" role="button">Powrót</a>
        </div>
    </form>
</div>
</body>
</html>