<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edytuj klienta</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.3/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <form th:object="${owner}" th:method="POST" th:action="@{/owner/edit}" class="form-horizontal">
        <div class="form-group">
            <label class="control-label">Id</label>
            <input type="text" th:field="*{id}" class="form-control" readonly="readonly"/>
        </div>
        <div class="form-group">
            <label class="control-label">Imię</label>
            <input type="text" class="form-control" th:field="*{firstname}"/>
        </div>
        <div class="form-group">
            <label class="control-label">Nazwisko</label>
            <input type="text" class="form-control" th:field="*{secondname}"/>
        </div>
        <div class="form-group">
            <label class="control-label">Telefon</label>
            <input type="number" class="form-control" th:field="*{phonenumber}"/>
        </div>
        <div class="form-group">
            <label class="control-label">Dodatkowy numer</label>
            <input type="text" class="form-control" th:field="*{additionalphonenumber}"/>
        </div>
        <div class="form-group">
            <label class="control-label">Adres email</label>
            <input type="text" class="form-control" th:field="*{mailadress}"/>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-default">Zaktualizuj dane klienta</button>
            <button type="reset" class="btn btn-default">Wyczyść zmiany</button>
            <a href="/owner/list" class="btn btn-danger" role="button">Powrót</a>
        </div>
    </form>
</div>
</body>
</html>