<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie konstrukcji</title>
    <link rel="stylesheet" type="text/css" th:href="@{/constructionstyle.css}"/>
    <meta name="description" content="PV_APP"/>
    <meta name="keywords" content="Photovlatic, Fotowoltaika, OZE, PV , Instalacja elektryczna"/>
    <meta name="author" content="Tomasz Sułkowski"/>
</head>
<body>
<div id="container">
    <nav id="nav">
        <a href="/instalation/list" class="btn-2" role="button">Instalacje</a>
        <a href="/modules/modulelist" class="btn-2" role="button">Moduły</a>
        <a href="/inverter/list" class="btn-2" role="button">Falowniki</a>
        <a href="/construction/list" class="btn-2" role="button">Konstrukcje</a>
        <a href="/questionform/list" class="btn-2" role="button">Formularze</a>
    </nav>
    <div id="formcontainer">
        <form id="form" th:object="${construction}" th:action="@{/construction/saveConstruction}" th:method="POST" class="form-horizontal">
            <div id="values">
              <div class="center"><p>Producent:</p></div><input type="text" th:field="*{manufacturer}" th:minlength="3" th:maxlength="20" placeholder="np.: Producent XYZ"/>
              <div class="center"><p>Model:</p></div><input type="text" placeholder="np.: Model ABC" th:field="*{model}" th:minlength=3  th:maxlength=20/>
              <div class="center"><p>Typ dachu:</p></div>
            <select th:field="*{rooftype}">
                    <option th:value="DACH_PLASKI" th:text="'DACH PŁASKI'"></option>
                    <option th:value="DACH_SKOSNY" th:text="'DACH SKOŚNY'"></option>
                    <option th:value="GRUNT" th:text="GRUNT"></option>
                </select>
                <div class="center"> <p style="text-align:center;">Materiał wykonania dachu:</p></div>
                <select th:field="*{roofmaterial}">
                    <option th:value="PAPA" th:text="PAPA"></option>
                    <option th:value="BLACHODACHOWKA" th:text="BLACHODACHÓWKA"></option>
                    <option th:value="BLACHOTRAPEZ" th:text="BLACHOTRAPEZ"></option>
                    <option th:value="PLYTA_WARSTWOWA" th:text="'PŁYTA WARTSTWOWA'"></option>
                    <option th:value="GONT" th:text="GONT"></option>
                    <option th:value="GRUNT" th:text="GRUNT"></option>
                    <option th:value="DACHÓWKA_CERAMICZNA" th:text="'DACHÓWKA CERAMICZNA'"></option>
                    <option th:value="DACHÓWKA_KARPIÓWKA" th:text="'DACHÓWKA KARPIÓWKA'"></option>
                </select>
                <div class="center"><p style="text-align:center;">Nachylenie konstrukcji: </p></div><input type="number" placeholder="np.:15"  th:field="*{roofslope}" min="0" max="70" step="1"/>
                <div class="center"><p style="text-align:center;">Cena [zł/moduł]</p></div><input type="number" placeholder="np.: 150" th:field="*{price}" min="0.01" max="1000.00" step="0.01"/>
            </div>
            <div id="buttons">
                <button type="submit" class="btn-3">Dodaj</button>
                <button class="btn-4" type="reset">Resetuj zmiany</button>
                <a href="/construction/list" class="btn-5" role="button">Powrót</a>
            </div>
        </form>
        <div id="photocontainer"><img id="photo" th:src="@{/constr.jpg}"></div>
    </div>

    <footer id="footer">
        <p>Autor: Tomasz Sułkowski</p>
        <p>Tel: +48790784812</p>
        <p>Email: Tomasz.sulkowski@onet.pl</p>
        <p>Github: TomaszSulkowski94</p>
        <p>PV_APP</p>
    </footer>
</div>
</body>
</html>