<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edytuj moduł</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>

</head>
<body>
<div class="container">
    <form th:object="${pvModule}" th:action="@{/modules/modulelist/edit}" th:method="POST" class="form-horizontal">
        <div hidden class="form-group">
            <label class="control-label">Id</label>
            <input type="text" th:field="*{id}" class="form-control" readonly="readonly"/>
        </div>
        <div class="form-group">
            <label class="control-label">Producent</label>
            <input type="text" th:field="*{manufacturer}" class="form-control"/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('manufacturer')}"
                 th:errors="*{manufacturer}"></div>
        </div>
        <div class="form-group">
            <label class="control-label">Model</label>
            <input type="text" th:field="*{model}" class="form-control"/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('model')}"
                 th:errors="*{model}"></div>
        </div>
        <div class="form-group">
            <label class="control-label">Typ modułu</label>
            <select th:field="*{type}">
                <option th:each="type : ${T(com.pvapp.PVApp.Entities.PVModule$moduleType).values()}"
                        th:value="${type}"
                        th:text="${type}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Moc modułu [Wp]</label>
            <input type="number" class="form-control" th:field="*{power}" min="1" max="9999" step="1"/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('power')}"
                 th:errors="*{power}"></div>
        </div>
        <div class="form-group">
            <label class="control-label">Prąd STC [A]</label>
            <input type="number" class="form-control" th:field="*{currentSTC}" min="0.01" max="100.00" step="0.01"/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('currentSTC')}"
                 th:errors="*{currentSTC}"></div>
        </div>
        <div class="form-group">
            <label class="control-label">Maksymalny prąd STC [A]</label>
            <input type="number" class="form-control" th:field="*{maxCurrentSTC}" min="0.01" max="100.00" step="0.01"/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('maxCurrentSTC')}"
                 th:errors="*{maxCurrentSTC}"></div>
        </div>
        <div class="form-group">
            <label class="control-label">Napięcie STC [V]</label>
            <input type="number" class="form-control" th:field="*{voltageSTC}" min="0.01" max="100.00" step="0.01"/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('voltageSTC')}"
                 th:errors="*{voltageSTC}"></div>
        </div>
        <div class="form-group">
            <label class="control-label">Napięcie MPP [V]</label>
            <input type="number" class="form-control" th:field="*{voltageMPP}" min="0.01" max="100.00" step="0.01"/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('voltageMPP')}"
                 th:errors="*{voltageMPP}"></div>
        </div>
        <div class="form-group">
            <label class="control-label">Strata temperaturowa [%/C]</label>
            <input type="number" class="form-control" th:field="*{temperatureLost}" min="0.01" max="1.00" step="0.01"/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('temperatureLost')}"
                 th:errors="*{temperatureLost}"></div>
        </div>
        <div class="form-group">
            <label class="control-label">Sprawność modułu [-]</label>
            <input type="number" class="form-control" th:field="*{efficency}" min="0.01" max="1.0000" step="0.0001"/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('efficency')}"
                 th:errors="*{efficency}"></div>
        </div>
        <div class="form-group">
            <label class="control-label">Cena [€/Wp]</label>
            <input type="number" class="form-control" th:field="*{price}" min="0.01" max="100.00" step="0.01"/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-default">Zapisz zmiany</button>
            <button type="reset" class="btn btn-default">Zrestartuj zmiany</button>
            <a href="/modules/modulelist" class="btn btn-danger" role="button">Powrót</a>
        </div>
    </form>
</div>
</body>
</html>